.git/
.idea/
.DS_Store
*.sw*
*.un~
.editorconfig
.gitignore
.gitlab-ci.yml
docker-compose.yml
lerna.json
package-lock.json
.nyc_output/
./client/node_modules/
./node_modules/
./chore/
./server/logs/
./server/node_modules/
./server/coverage/
./server/test/
./server/run/
./server/typings/
