.upload-container {
    width: 100%;
    display: flex;
    align-items: center;
    .upload-add {
        width: 1rem;
        height: 1rem;
        border-radius: .08rem;
        background-color: aliceblue;
    }

    .preview-box {
        width: 1rem;
        height: 1rem;
        img {
            width: 100%;
            height: auto
        }
    }
    .upload-add {
        width: 1rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .upload-text {
        margin-top: .14rem;
        font-size: .12rem;
        color: #8C8C8C;
    }
}